<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {{ body }}

    <footer>
        <img src="http://www.sieparking.com.mx/wp-content/uploads/2017/12/accesos-y-cobro-de-estacionamientos-de-bajo-costo-Aztek-automatizacion-1.jpg" alt="Aztek">
    </footer>
</body>
</html>