<div class="courses-container">
	<div class="course">
		<div class="course-preview">
            <img src="http://www.sieparking.com.mx/wp-content/uploads/2018/01/Aztek-Automatizacion-logo-vectores-1.5cm-largo.png" class="card-img-top" alt="..."/>
		</div>
		<div class="course-info">
			<h4>
                Se envio la contraseña con la que podra acceder al sistema, 
                posteriormente se recomienda cambiar la contraseña en el apartado de Perfil.
            </h4>
			<h2>Contraseña: <strong>{{ password }}</strong></h2>
		</div>
	</div>
</div>