<header class="d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1 user-select-none animate__animated animate__backInDown">Tienda Aztek</h1>
        {{!-- <h1 class="mb-1 user-select-none animate__animated animate__backInDown">Aztek Control y Automatizacion</h1> --}}
        {{!-- <a href="/signin" class="btn btn-primary animate__animated animate__backInUp animate__delay-1s">
            Inicia Sesion
        </a> --}}
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-4 text-light">
            <div class="thumbnail">
                <img src="http://www.sieparking.com.mx/wp-content/uploads/2017/12/Aztek-TPV-verde-300x300_c.png" class="img-responsive">
                <div class="caption">
                  <h4 class="float-sm-end">$700.99</h4>
                  <h4 class="">TPV</h4>
                </div>
            </div>
            <div class="space-ten"></div>
            <div class="btn-ground text-center">
                <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Añadir al carrito</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#product_view"><i class="fa fa-search"></i> Vista rapida</button>
            </div>
            <div class="space-ten"></div>
        </div>
        <div class="col-md-4 text-light">
            <div class="thumbnail">
                <img src="http://www.sieparking.com.mx/wp-content/uploads/2017/12/Aztek-EXPEDIDORA-verde-300x300_c.png" class="img-responsive">
                <div class="caption">
                  <h4 class="float-sm-end">$800.99</h4>
                  <h4 class="">Expedidora</h4>
                </div>
            </div>
            <div class="space-ten"></div>
            <div class="btn-ground text-center">
                <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Añadir al carrito</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#product_view"><i class="fa fa-search"></i> Vista rápida</button>
            </div>
            <div class="space-ten"></div>
        </div>
        <div class="col-md-4 text-light">
            <div class="thumbnail">
                <img src="http://www.sieparking.com.mx/wp-content/uploads/2017/12/Aztek-SERVIDOR-verde-300x300_c.png" class="img-responsive">
                <div class="caption">
                  <h4 class="float-end">$1000.99</h4>
                  <h4 class="">Servidor</h4>
                </div>
            </div>
            <div class="space-ten"></div>
            <div class="btn-ground text-center">
                <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Añadir al carrito</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#product_view"><i class="fa fa-search"></i> Vista rápida</button>
            </div>
            <div class="space-ten"></div>
        </div>
    </div>
</div>

<div class="modal fade product_view" id="product_view">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" data-bs-dismiss="modal" class="class float-sm-end"><i class="fa fa-remove"></i></span></a>
                <h3 class="modal-title">Terminal Punto de Venta</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img src="http://www.sieparking.com.mx/wp-content/uploads/2017/12/Aztek-TPV-verde-300x300_c.png" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <h4>Product Id: <span>51526</span></h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <h3 class="cost">
                            <i class="fa fa-usd"></i> 75.00
                            <small class="pre-cost"><i class="fa fa-usd"></i> 60.00</small>
                        </h3>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <select class="form-control" name="select">
                                    <option value="" selected="">Cantidad</option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                </select>
                            </div>
                        </div>
                        <div class="space-ten"></div>
                        <div class="btn-ground">
                            <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Añadir al carrito</button>
                            <button type="button" class="btn btn-primary"><i class="fa fa-heart"></i> Añadir a deseos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>