<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">FAVORITE LINKS</h1>
            <h3 class="mb-5">
                <em>STORE YOUR FAVORITE LINKS</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                LEST'S GET STARTED
            </a>
        </div>
    </header>
</main>