<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1 user-select-none">Universidad del Pedregal</h1>
            <h3 class="mb-4 user-select-none">
                <em>Control Visitas</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Inicia Sesion
            </a>
        </div>
    </header>
</main>