<header class="d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1 user-select-none animate__animated animate__backInDown">Aztek Control y Automatizacion</h1>
        <a href="/shop/shopping/0" class="btn btn-primary animate__animated animate__backInUp animate__delay-1s">
            Tienda
        </a>
    </div>
</header>