<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1 user-select-none animate__animated animate__backInDown">Universidad del Pedregal</h1>
            <h3 class="mb-4 user-select-none animate__animated animate__backInRight animate__delay-1s">
                <em>Control Visitas</em>
            </h3>
            <a href="/signin" class="btn btn-primary animate__animated animate__backInUp animate__delay-2s">
                Inicia Sesion
            </a>
        </div>
    </header>
</main>