body {
    background: #f5f6f5;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    background: url('/img/back3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vm;
    height: 100vh;
}

.masthead {
    color: #fff;
    min-height: 30rem;
    width: 100%;
    height: 100%;
}

.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

@media (min-width: 992px) {
    .masthead h1 {
        font-size: 5.5rem;
    }
}