<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand animate__animated animate__lightSpeedInLeft" href="/">Control Visitas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item animate__animated animate__lightSpeedInRight animate__delay-1s">
          <a class="nav-link" href="https://api.whatsapp.com/send?phone=+525567652596" target="_blank">
              <i class="fab fa-whatsapp fa-lg"></i> Soporte Aztek
          </a>
        </li>
        <li class="nav-item animate__animated animate__lightSpeedInRight animate__delay-2s">
          <a class="nav-link" href="https://www.facebook.com/pages/category/Electronics/Aztek-Control-Y-Automatizacion-107108518083849/" role="button" target="_blank">
              <i class="fab fa-facebook fa-lg"></i> Facebook Aztek
          </a>
        </li>
        {{#if user}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Catalogos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/links">All Links</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/links/add">Add A Link</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/profile" class="nav-link">Perfil</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">Salir</a>
          </li>
        {{!-- {{else}}
          <li class="nav-item animate__animated animate__lightSpeedInRight animate__delay-3s">
            <a href="/" class="nav-link">
              <i class="fas fa-user-secret fa-lg"></i> Inicia Sesion
            </a>
          </li> --}}
          {{!-- <li class="nav-item">
            <a href="/signup" class="nav-link">SingUp</a>
          </li> --}}
        {{/if}}
      </ul>
    </div>
  </div>
</nav>