<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>links Application</title>
    {{!-- GOOGLE FONTS --}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald">
    <!-- CSS only -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    {{!-- ICON --}}
    <script src="https://kit.fontawesome.com/a929b3a8f8.js" crossorigin="anonymous"></script>
    {{!-- ICON --}}
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    {{> navigation }}

    {{> message }}

    {{{ body }}}

    {{!-- SCRIPTS --}}
    <script src="/bootstrap/dist/js/bootstrap.mis.js"></script>
<footer>
    <div class="container p-5">
        <section class="">
        <form action="">
            <!--Grid row-->
            <div class=" d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto email-texto">
                <p class="pt-2">
                Correo a Soporte
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-5 col-12">
                <!-- Email input -->
                <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example2" class="form-control" />
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-auto enviar-btn">
                <!-- Submit button -->
                <button type="submit" class="btn btn-outline-light mb-4">
                <i class="far fa-envelope"> Enviar</i>
                </button>
            </div>
            <!--Grid column-->
            </div>
            <!--Grid row-->
        </form>
        <!-- Section: Text -->
        <section class="mb-4 d-flex justify-content-center">
            <p>
                UNIVERSIDAD DEL PEDREGAL
            </p>
        </section>
        <section class=" d-flex flex-row-reverse">
            <a class="btn btn-outline-light btn-floating m-1" href="https://api.whatsapp.com/send?phone=+525567652596" role="button">
                <i class="fab fa-whatsapp fa-lg">
                    Soporte Aztek
                </i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/pages/category/Electronics/Aztek-Control-Y-Automatizacion-107108518083849/" role="button">
                <i class="fab fa-facebook fa-lg">
                    Facebook Aztek
                </i>
            </a>
        </section>
    </div>
</footer>

</body>

</html>