<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizador</title>
    <link rel="icon" href="/img/shopIco.png">
    {{!-- CSS only --}}
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    {{!-- Animate --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    {{!-- ICON --}}
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/auth.css">
    {{!-- Boostarp-table --}}
    <link rel="stylesheet" href="/bootstrap-table/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="/bootstrap-table/dist/extensions/page-jump-to/bootstrap-table-page-jump-to.min.css">
    <link rel="stylesheet" href="/js-datepicker/dist/datepicker.min.css">


</head>

<body>

    {{> navigation }}

    {{> message }}

    {{{ body }}}

    {{!-- SCRIPTS --}}
    <script src="https://kit.fontawesome.com/a929b3a8f8.js" crossorigin="anonymous"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>
    {{!-- <script src="/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="/bootstrap-table/dist/locale/bootstrap-table-es-MX.min.js"></script>
    <script src="/bootstrap-table/dist/extensions/mobile/bootstrap-table-mobile.min.js"></script>
    <script src="/bootstrap-table/dist/extensions/auto-refresh/bootstrap-table-auto-refresh.min.js"></script>
    <script src="/bootstrap-table/dist/extensions/export/bootstrap-table-export.js"></script>
    <script src="/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js"></script>
    <script src="/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
    <script src="/tableexport.jquery.plugin/libs/FileSaver/FileSaver.min.js"></script>
    <script src="/tableexport.jquery.plugin/libs/js-xlsx/xlsx.core.min.js"></script>
    <script src="/tableexport.jquery.plugin/libs/pdfmake/pdfmake.min.js"></script>
    <script src="/tableexport.jquery.plugin/libs/pdfmake/vfs_fonts.js"></script>
    <script src="/tableexport.jquery.plugin/libs/es6-promise/es6-promise.auto.min.js"></script>
    <script src="/tableexport.jquery.plugin/libs/html2canvas/html2canvas.min.js"></script>
    <script src="/bootstrap-table/dist/extensions/page-jump-to/bootstrap-table-page-jump-to.min.js"></script>
    <script src="/js-datepicker/dist/datepicker.min.js"></script>
    <script src="/strftime/strftime-min.js"></script> --}}
</body>
</html>