<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Visitas</title>
    {{!-- CSS only --}}
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    {{!-- Animate --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    {{!-- ICON --}}
    <script src="https://kit.fontawesome.com/a929b3a8f8.js" crossorigin="anonymous"></script>
    {{!-- ICON --}}
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    {{> navigation }}

    {{> message }}

    {{{ body }}}

    {{!-- SCRIPTS --}}
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>